@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	background: linear-gradient(rgba(200, 200, 200, 0.3), rgba(199, 199, 199, 0.3)), url("./assets/lightbg.jpg");

	background-size: cover;
	background-position: center;
}
.dark body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./assets/lightbg.jpg");

	background-size: cover;
	background-position: center;
}

.prime-text {
    @apply text-gray-800;
}

.dark .prime-text {
    @apply text-gray-200;
}

.sec-text {
    @apply text-gray-600;
}

.dark .sec-text {
    @apply text-gray-400;
}

.btn {
    @apply text-gray-100 dark:text-gray-300;
}
.company-card {
    @apply bg-gray-200 bg-opacity-60;
}

.dark .company-card {
    @apply bg-gray-800 bg-opacity-40 ;
}

.edit {
    @apply bg-gray-200 dark:bg-gray-600 w-full max-w-lg p-6 rounded-lg shadow-lg bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-50;
}

.btn-primary {
    @apply bg-blue-500 bg-opacity-60 hover:bg-blue-700 hover:bg-opacity-80;
}

